

#hero {
    
    background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .hero-contain {
    width: 820px;
}

#hero .subtitle {
    color: white;
    opacity: 0.8;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;


}

#hero .title {
    color: white;
    text-align: center;
    /* width: 790px; */
    /* height: 115px; */
    font-weight: 700;
    font-size: 50px;
}

#hero .description {
    color: white;
    text-align: center;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 500;

}

.btn-container {
    text-align: center;
}

.btn {
    color: white;
    background-color: #52C303;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}


/* second section */
#card-box {
    width: 1020px;
    margin: 100px auto;
}

/* .info {
    align-items: center;
} */

#card-box .subtitle {
    opacity: 0.7;
}

/* #card-box .shop {
    background-color: #52C30326;
} */


/* 3 section */
#foods {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    

}

#foods img {
    width: 700px;
}

#foods .foods-info {
    display: flex;
    flex-direction: column;
justify-content: flex-start;
align-items: center;
}

#foods .title {
    font-size: 45px;

}

#foods .subtitle {
  opacity: 0.6;

}

#foods .follow {
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
}

/* footer */
footer {
    
    width: 1932px;
    height: 671px;
    background-image: url("/assets/social-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

footer img {
    /* width: 100%; */
}
footer .icon {
    display: flex;

}

#footer {
    /* padding: 0 100px 100px 0; */
}